</div>
<footer class="page-footer blue darken-4">
  <div class="footer-copyright no-padding">
    <div class="container">&copy; Harker Media 2017 | All rights reserved</div>
  </div>
</footer>
</body>
<script src="/js/scripts.js"></script>

</html>
