<!DOCTYPE html>
<html>

<head>
  <title>Spotter</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Compiled and minified CSS -->
  <script type="text/javascript" src="materialize/js/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="materialize/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="materialize/js/materialize.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <header>
    <nav class="blue darken-4">
      <div class="nav-wrapper container">
        <a href="/" class="brand-logo">Spotter</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <% if(loggedIn) { %>
                <li><a onclick="showPage('home');">Home</a></li>
                <li><a onclick="showPage('Favorites');">Favorites</a></li>
                <li><a href="logout">Logout</a></li>
            <% } else { %>
              <li><a href="login">Login</a></li>
              <li><a href="register">Register</a></li>
              <% } %>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <% if(loggedIn) { %>
                <li><a onclick="showPage('home');">Home</a></li>
                <li><a onclick="showPage('Favorites');">Favorites</a></li>
                <li><a href="logout">Logout</a></li>
            <% } else { %>
              <li><a href="login">Login</a></li>
              <li><a href="register">Register</a></li>
              <% } %>
        </ul>
      </div>
    </nav>
  </header>
  <div id="pageContent" class="row">
