<%- include modules/header.ejs %>
<div id="pageContent">
  <div id="locations" class="container">
  </div>
  <a class="btn-floating btn-large waves-effect waves-light teal">
    <i class="material-icons">add</i>
  </a>
</div>
<script src="js/home.js"></script>
<%- include modules/footer.ejs %>


