<%- include modules/header.ejs %>
<div id="pageContent" class="row container">
  <div class="container col s12 m3 l2">
  <h3>Categories</h3>
  <div id="categories"></div>
  </div>
  <div class="container col s12 m9 l6">
  <h3 id="pageName">Locations</h3>
  <div id="locations"></div>
  </div>
  <div id="map" class="container col s12 m12 l4">
  </div>
  <a class="btn-floating btn-large waves-effect waves-light teal">
    <i class="material-icons">add</i>
  </a>
</div>
<script src="js/home.js"></script>
<%- include modules/footer.ejs %>


