<%- include modules/header.ejs %>
  <div class="parallax-container panel">
    <div class="parallax"><img src="images/homeBackground1.jpg"></div>
  </div>
  <div class="section panel">
    <div class=" row container">
      <h1 class="header center">
        Spotter
      </h1>
      <div class="row center">
        <h5 class="header light">Where the world meets to find and share the most spectacular shots</h5>
      </div>
      <div class="row center">
        <a onclick="$('html, body').animate({scrollTop:1200},'50');" class="btn-large waves-effect blue darken-4">Learn More</a>
        <a href="register" class="btn-large waves-effect blue darken-4">Get Started!</a>
      </div>
    </div>
  </div>
  <div class="parallax-container panel">
    <div class="parallax"><img src="images/homeBackground2.jpg"></div>
  </div>
  <div class="section panel" id="find">
    <div class="row container">
      <h1 class="header center">
        Find
      </h1>
      <div class="row center">
        <h5 class="header light">Browse thousands of locations submitted my people just like you, categorized by what kind of shot you can expect</h5>
      </div>
    </div>
  </div>
  <div class="parallax-container panel">
    <div class="parallax"><img src="images/homeBackground3.jpg"></div>
  </div>
  <div class="section panel">
    <div class="row container">
      <h1 class="header center">
        Share
      </h1>
      <div class="row center">
        <h5 class="header light">Share the spots that you have come to love with the community, or save them privately and build your own collection</h5>
      </div>
      <div class="row center">
        <a href="register" class="btn-large waves-effect blue darken-4">Get Started!</a>
      </div>
    </div>
  </div>
  <%- include modules/footer.ejs %>


    <!--<a class="btn-floating btn-large waves-effect waves-light teal">
        <i class="material-icons">add</i>
      </a>-->
