<%- include modules/header.ejs %>
<div class="container">
<% if(message){ %>
<h5><%= message %></h5>
<% } %>  
  <h2>Login</h2>
  <h5>Username (Email Address)</h5>
  <input type="text" name="username" id="username">
  <h5>Password</h5>
  <input type="password" name="password" id="password">
  <button onclick="login()" class="btn">Login</button><p id="message" class="error"></p>
</div>
<%- include modules/footer.ejs %>
