/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');*/

html {
  margin: 0;
  padding: 0;
  font: 14px /*"Open Sans", */Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  color: #123;
}

header {
  background: #123;
}

header h1 {
  margin: 0;
  padding: 50px 50px 30px;
  max-width: 800px;
  margin: auto;
}

nav i {
  color: #fff;
}

.input-field input[type=search] {
  border: none;
  margin-bottom: 5px;
  height: calc(100% - 2px);
}

main {
  padding: 20px 50px;
  max-width: 800px;
  margin: auto;
}

a {
  color: #00B7FF;
}

h3 {
  font-weight: bold;
  font-size: 1.2em;
}

.btn-floating{
  right: 1%;
  position: fixed;
  bottom: 1%;
}

p,
ul {
  margin-bottom: 20px;
  margin-top: 10px;
  color: #012;
}

h3.get:before {
  content: "GET : ";
}

h3.post:before {
  content: "POST : ";
}

h3.put:before {
  content: "PUT : ";
}

h3.delete:before {
  content: "DELETE : ";
}

.parallax-container {
  height: 500px;
}

#pageContent .panel {
  height: 400px;
}

#pageContent {
  min-height: calc(100vh - 134px);
}

button {
  margin: 10px 0;
}

.page-footer {
  padding-top: 0;
  text-align: center;
}

.panel .row {
  transform: translate(0, 20%)
}

#map{
  height: 350px;
  margin-top: 20px;
}

#docs h1 {
  font-size: 2.3em;
  font-weight: 700;
  background: #123;
  color: #fff;
}

#docs h2 {
  font-size: 1.7em;
  color: #fff;
  background: #123;
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: -20px;
}

footer p {
  text-align: center;
  background: #123;
  color: #fff;
  margin: 0;
  padding: 20px;
}

button.header{
  padding: 0;
  border: none;
  margin: 0;
  background: none;
  color: #00B7FF;
}

#prompt{
  display: none;
  height: 0px;
  transition: .3s;
  background: #ddeeff;
  padding: 20px;
  margin-top: 20px;
}

#prompt.visible{
  display: block;
  height: auto;
}